.popup__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px 0 0 0;
  padding-bottom: 54px;
}

@media screen and (max-width: 879px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    align-self: center;
    margin: 25px 0 0 0;
    padding-bottom: 75px;
  }
}
